<div class="container mt-5">
<div class="form-area">
<form #f="ngForm" (submit)="onSubmit(f)">
    <div class="form-group">
        <h1> Template form</h1><br>
    <label> Full Name: </label>
    <input type="text" class="form-control" id="name" name="fullName" ngModel #fullName="ngModel" (change)="getValue(fullName)"
    [ngClass]="{'is-invalid':fullName.invalid}" required minlength="5" maxlength="10"><br>
    
        <div *ngIf="fullName.errors?.['required']">
        <div class="alert alert-danger"
            *ngIf="fullName.touched && fullName.invalid"> Please Enter the Name
        </div>
        </div>

        <div *ngIf="fullName.errors?.['minlength']">
        <div class="alert alert-danger"
            *ngIf="fullName.touched && fullName.invalid"> Please Enter Min 5 characters
        </div>
        </div>
        

    <label> Email: </label>
    <input type="email" class="form-control" id="email" name="email" ngModel email #email="ngModel" (change)="getValue(email)" [ngClass]="{'is-invalid':email.invalid}" required><br>
    <!-- <div *ngIf="email.errors?.['pattern']">   -->
    <div class="alert alert-danger"
            *ngIf="email.touched && email.invalid"> Invalid Email
        </div>

    <label> Address:  </label>
    <textarea type="text" class="form-control" id="address" name="address" ngModel #address="ngModel" (change)="getValue(address)"[ngClass]="{'is-invalid':address.invalid}" required></textarea> <br>
        <div class="alert alert-danger"
            *ngIf="address.touched && address.invalid"> Please Enter the Address
        </div>
    <button type="submit" class="btn btn-primary"  [disabled]="f.invalid">Submit</button>
    </div>
    
</form>
</div>
</div>
