<!-- <app-form></app-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-display></app-display> -->
<!-- <app-student-info></app-student-info> -->
<div class="d-grid">
<span><button type="submit" class="btn btn-primary mt-5 ml-5" routerLink="/post" routerLinkActive="router-link-active" > Click </button></span>
<span><button type="submit" class="btn btn-primary mt-5 ml-5" routerLink="/register" routerLinkActive="router-link-active" > Register </button></span>
<span><button type="submit" class="btn btn-primary mt-5 ml-5" routerLink="/students" routerLinkActive="router-link-active" > Students </button></span>


</div>

<!-- <a type="submit"  routerLink="/post" routerLinkActive="router-link-active" > Click </a><br>
<a href= "/register" type="submit" > Register </a> -->

<router-outlet></router-outlet>